body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
}

h1{
    font-family: consolas;
    font-size: 40px;
    line-height: 50px;
    color: red;
}

p{
    color: green;
}

header{
    background-color: rgba(79,179,191,1);
}

footer{
    color: #FFFFEE;
    background-color: #35787F;
}